/* CSS for styling the form */
form {
    width: 500px;
    margin: 0 auto;
}

form div {
    margin: 20px 0;
}

form label {
    display: block;
    margin: 10px 0;
}

form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    border: 0;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}